<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>

<%= link_to 'All', {controller: 'submissions', action: 'index', :status => ''}, class: "btn btn-primary" %>
<%= link_to 'Outstanding', {controller: 'submissions', action: 'index', :status => ''}, class: "btn btn-primary" %>
<%= link_to 'Accepted', {controller: 'submissions', action: 'index', :status => 'accepted'}, class: "btn btn-success" %>
<%= link_to 'On Hold', {controller: 'submissions', action: 'index', :status => 'hold'}, class: "btn btn-warning" %>
<%= link_to 'Rejected', {controller: 'submissions', action: 'index', :status => 'reject'}, class: "btn btn-danger" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Submission</th>
      <th>Coverletter</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.name %></td>
        <td><%= submission.email %></td>
        <td><%= submission.submission %></td>
        <td><%= submission.coverletter %></td>
        <td><%= submission.time %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to submission do %>
          <i class="fa fa-check fa-border yes" aria-hidden="true"></i>
        <% end %></td>
        <td><%= link_to submission do %>
          <i class="fa fa-pause fa-border hold" aria-hidden="true"></i>
        <% end %></td>
        <td><%= link_to submission do %>
          <i class="fa fa-times fa-border no" aria-hidden="true"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
